<form method="post" action="{{ path('app_trip_accept', {'id': trip.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir réserver ce trajet ?');">
        <div class="">
            <button class="btn px-2 col-12 btn-success">
                <i class="fa-regular pe-2 fa-circle-check"></i>Réserver
            </button>
        </div>
</form>