<form method="post" action="{{ path('app_driver_cancel', {'id': trip.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir décommander ce trajet ?');">
        <div class="">
            <button class="btn px-2 col-12 btn-danger">
                <i class="fa-regular pe-2 fa-circle-check"></i>Annuler
            </button>
        </div>
</form>