{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Trajets
{% endblock %}

{% block body %}
	<div class="home-banner min-vh-100">
		<div class="my-5 mb-0 d-flex justify-content-center">
			<div class="mt-5 container mb-0">
            <div class="d-flex flex-column align-items-center">
				<h1 class="text-center mt-4">Trajets disponibles</h1>
				<a class="btn w-25 btn-lg btn-primary my-3" href="{{ path('app_trip_new') }}">Nouveau trajet</a>
                </div>
				{% if trips is not empty %}
                <div class="w-100 d-flex justify-content-center gap-4 flex-wrap">
					{% for trip in trips %}
						<div class="card col-5 mb-3">
							<div class="row g-0 flex-grow-1">
								<div class="col-md-6">
									<img src="..." class="img-fluid rounded-start" alt="...">
								</div>
								<div class="col-md-6 ">
									<div class="card-body d-flex flex-column h-100 justify-content-between">
										<h2 class="card-title h5">{{ trip.meetingPoint }}</h5>
										<p class="card-text">{{ trip.date ? trip.date|date('Y-m-d') : '' }}</p>
                                                                                <div class="d-flex">
                                        {% for i in 0.. trip.spots %}
                                        <i class="fa-solid fa-chair text-dark"></i>
                                        {% endfor %}
                                        </div>
										<a href="#" class="btn btn-outline-primary">Réserver</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
                    </div>
				{% else %}
					<h2 class="text-center h4">Pas de trajets !</h2>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
