@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Maven Pro";
    src: url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
}
* {
    font-family: $title-font;
}

h1, h2, h3, h4, h5 
{
    font-family: $title-font;
}


.navbar {
    font-family: $title-font;
    font-size: 18px;
    font-weight: 400;
    background: $light;
    background: linear-gradient(113deg, $light 50%, $primary 50%, $light 50%);
    position: sticky;
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.home-banner {
    background-image: url(/assets/images/banner-ramene.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 83%;
}

.home-search {
    width: 70%;
    height: 20vh;
    background-color: $light;
} 

.card {
    opacity:0.95;
    height:20rem;
}

.login-form {
    height:20rem;
    opacity: 0.97;
}

.container, .registration-form {
    opacity: 0.97;
}

#map {
    height:300px;
}